
<div class="container">
  <div class="col-lg-6 col-md-6">
    <label for="well">Inventory</label>
    <div class="well">

    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <label for="well">Manage Products</label>
    <div class="well">
      <form class="" action="/add_product/" method="post">
        <label for="add_product">Add a product</label>
        <div class="">
          <input type="text" name="product_name" value="" placeholder="Product name...">
          <input type="number" name="product_cost" value="" placeholder="Product cost...">
          <div class="container" style="padding-top:12px;">
            <button type="submit" class="btn btn-success" name="button">Add Product</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
